*{padding: 0;margin: 0;border: 0;}
*,*:before,*:after{-moz-box-sizing: border-box;-webkit-box-sizing: border-box;box-sizing: border-box;}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}
nav,footer,header,aside{display: block;}
html,body{height:100%;width:100%;font-size:100%;line-height:1;font-size:14px;-ms-text-size-adjust:100%;-moz-text-size-adjust:100%;-webkit-text-size-adjust:100%;}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a,a:visited{text-decoration: none; font-family: inherit;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: inherit;}

/*-------------------------------------обнуление---------------------------------------*/
body{
    font-size: 24px;
    color: #000;
    font-family: 'Montserrat';
    line-height: 1.5em;
    background-color: #fff;
}
.wrappers{
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
}

.conteiner {
    max-width: 1200px;
    margin: 0 auto;
}
.nav {
    color: #000;
    padding: 0.5em 0;
    position: fixed;
    width: 100%;
    background-color: #fff;
}

.flex{
    display: flex;
    justify-content: space-between;
}
h1{
    font-weight: 400;
    font-size: 48px;
    line-height: 59px;
    max-width: 420px;
    margin-top: 2em;
    letter-spacing: 0.05em;
}
.header__img {
    display: inline-block;
}
.header__main {
    display: flex;
    justify-content: space-between;
    margin: 8em 0;
}
h2{
    font-size: 36px;
    line-height: 42px;
    font-weight: 500;
    margin: 0.5em 0;
}
.history>h2{
    margin: 1em 0;
}
#top{
    display: none;
    position: fixed;
    background: none;
    outline: none;
    bottom: 80px; 
    right: 18px; 
    z-index: 1000;
    border: none;
    cursor: pointer;
}
ol{
    margin-left: 2em;
}
#top:hover{
    opacity: .6;
}
.base__content{
    display: flex;
    justify-content: space-between;
}
.base__content_text{
    width: 1000px;
    display: table;
    height: 17em;
    padding:0 2em;
    margin: 1em 0;
    border-radius: 1em;
    box-shadow: 0 0 2px 0px #424242;
}
.count{
    font-weight: 500;
    font-size: 48px;
    color:#8897e7;
    letter-spacing: 0.03em;
}
h3{
    font-weight: 800;
    font-size: 1.3em;
    margin: 1.5em 0;
}
h4{
    font-size: 1.1em;
    margin: 2.5em 0;
}
.right{
    margin:auto 0 ;
}

.arrow{
    margin-top: 6em;
    cursor: pointer;
}
.arrow:hover{
    opacity: .6;
}

/*
.history__content_items{
    background: #fff;
    height: 8px;
}
.history__content_item{
    margin: 1.5em 1em 1em 0;
    font-size: 0.75em;
    z-index: 2;
    line-height: 1.15em;
    max-width: 150px;
    display: inline-block;
}
.history__content_item p{
    margin-top: 2em;
}*/
.galery {
}
.galery__content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.galery__content_item {
    display: flex;
    flex-direction: column-reverse;

}
.galery__content_item img{
    max-width: 200px;
    max-height: 250px;
}

.underlined{
    border-bottom: 2px dashed #424242;
}
ul{
    display: flex;
    
}
ul>li{
    color: #1317f9;
    border: #e8e8e8 solid 1px;
    padding: 0.5em;
    margin-right: 0.1em;
    cursor: pointer;
}
.history__content {
    font-size: 16px;
    line-height: 110%;
    display: flex;  
    justify-content: space-between;
    margin-bottom: 2em;
}
.history__content_item {
    max-width: 13em;
    min-height: 15em;
    text-align: center;
    border-radius: 5px;
    border: #e8e8ee solid 2px;
    margin-right: 1em;
}
.history__content_item:last-child img{
    padding-bottom: 0.9em;
    border-bottom: 1px solid #000;
    border-radius: 3px;
}
.tab_item:last-child {
    margin-top: 1.5em;
}
.tab_item{
    display: none;
}
.tab_item.active{
    display: block;
}
li.active{
    background-color: #1317f9;
    color: #fff;

}

footer{
    height: 60px;
    background-color: #f1f1f1;
    text-align: center;
    padding: 15px 0;
}
